@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-text {
  background: linear-gradient(
    270deg,
    #1a1a1a,
    #8b0000,
    #b35600,
    #b3b300,
    #006400,
    #00008b,
    #2c0057,
    #4b0082,
    #1a1a1a
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 1s ease forwards;
}
.slide-in {
  transform: translateY(100%);
  opacity: 0;
}

@keyframes slideIns {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-ins {
  animation: slideIns 1.5s ease forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight 1.5s ease forwards;
}
